@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Poppins&display=swap');

body {
				margin: 0px;
				padding: 0px;

				background-image: url(../img/hintergrund.jpg);
				background-attachment: fixed;
				background-size: cover;
				background-repeat: no-repeat;

				font-family: 'Poppins', sans-serif;
			}

			nav {
				width: 100%;
				height: 100px;
				top: 0px;
				position: fixed;
				z-index: 1;
				box-shadow: 5px 2px 5px grey;

				background-color: white;
			}
			#logo p {
				float: left;
				font-size: 5em;
				margin: 5px;
				margin-left: 60px;
				line-height: 1;
				font-family: 'Kaushan Script', sans-serif;
			}
			.nav-links {
				float: right;
				justify-content: space-around;
				width: auto;
				margin-right: 70px;
				margin-top: 30px;
			}

			.nav-links a {
				text-decoration: none;
				letter-spacing: 3px;
				font-size: 25px;
				margin: 10px;
				font-size: 32px;
				color: black;

			}
			.nav-links a:hover {
				font-weight: bold;
				color: grey;
			}
			.nav-links li {
				list-style: none;
				display: inline;
				margin: 25px;
			}
			.content {
				width: 60%;
				height: auto ;
				margin: auto;
				position: absolute;
				margin-top: 130px;
				left: 20%;
				padding: 5px;
				border-radius: 20px;
				overflow: hidden;

				background-color:  white;
			}
			.content p {
				padding: 10px;
				font-size: 25px;
			}
			.content h2{
				text-align: center;
				font-size: 3em;
			}

			a.activ {
				font-weight: bold;
				pointer-events: none;
			}
			.row {
				visibility: hidden;
			}
			.topmenu {
				visibility: hidden;
			}

#ferien {
	margin-left: 35%;
}

a {
	text-decoration: none;
}

.fett{
	font-weight: bold;
}
.jump{
	font-size: 20px;
}

@media screen and (max-width:1350px) {
	
	.nav-links {
		visibility: hidden;
		position: absolute;
		margin-right: 0px;
		width: 45%;
		right:  0px;
		height: 600px;
		top: 67px;
		background-color: rgba(250, 250, 250, 0.);
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	.nav-links {
		opacity: 1;
	}
	
	.row {
		visibility: visible;
	}
	.topmenu {
		visibility: visible;
	}
	
				label.hamburg
			{ 
				display: block;
				background: #555; width: 75px; height: 50px; 
				position: relative; 
				float: right;
				margin-top: 25px;
				margin-right: 15px;
				border-radius: 4px; 
			}

			input#hamburg {display:none}
			
			.line
			{ 
				position: absolute; 
				left:10px;
				height: 4px; width: 55px; 
				background: #fff; border-radius: 2px;
				display: block; 
				transition: 0.5s; 
				transform-origin: center; 
			}

			.line:nth-child(1) { top: 12px; }
			.line:nth-child(2) { top: 24px; }
			.line:nth-child(3) { top: 36px; }

			#hamburg:checked + .hamburg .line:nth-child(1)
			{
				transform: translateY(12px) rotate(-45deg);
			}

			#hamburg:checked + .hamburg .line:nth-child(2)
			{
				opacity:0;
			}

			#hamburg:checked + .hamburg .line:nth-child(3)
			{
				transform: translateY(-12px) rotate(45deg);
			}
			
			nav.topmenu 
			{ 
				
				height: auto; 
				max-height:0; 
				overflow: hidden;
				background-color: (255, 255, 255);
				float: right;
				margin-top:;
				width:100%;
				transition: all 0.5s;
			}
			
			nav.topmenu ul { padding-left: 1em;}
			nav.topmenu ul li { list-style-type: none; color: white; border-bottom: 1px dotted white; padding-top: 1ex; padding-bottom: 1ex; padding: 3ex; text-align: center;  }
			nav.topmenu ul li:last-child{border-bottom: 0;}
			nav.topmenu ul li a { color: black; text-decoration: none; display: block; font-size: 2em; }
		
			#hamburg:checked + .hamburg  + nav.topmenu {max-height: 600px;}
	
	a.activ {
		font-weight: bold;
		pointer-events: none;
	}
	
	nav.topmenu a:hover {
		font-weight: bold;
		color: deepskyblue;
		
	}
}