h1 {
	text-align: center;
}
ul {
	
	list-style-type: none;
	margin-top: 100px;
	list-style-image: url(../img/Schneeflocke.png);
}

.red {
	color: red;
}
#KW52 {
	list-style-image: url(../img/Schneeflocke.png);
}
#KW1 {
	list-style-image: url(../img/Schneeflocke.png);
} 
#KW2 {
	list-style-image: url(../img/Schneeflocke.png);
}
.christmas {
	list-style-image: url(../img/Baum.png);
}
.silvester {
	list-style-image: url(../img/Rakete.png);
}
ol {
	list-style: decimal;
}
dd {
	list-style-type: circle;
}
